.pricing{
    padding: 100px 0;
    position: relative;
}

/*Home*/
.home{
    font-family: serif;
}
.home .container{
    position: relative;
}
.home .first{
    padding-left: 15%;
    padding-right: 15%;
}
.home .home-icon .icon{
    margin-bottom: 20px;
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #5cccc9;
    font-size: 30px;
}

.home .para{
    font-size: 25pt;
}

.home-icon p{
    line-height: 1.4;
    color: gray;
}

.first h1{
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 600;
    font-family: serif;
}
/*Pricing of all*/
.pricing .container{
    position: relative;
    margin-top: 7%;
    padding-left: 8%;
    padding-right: 8%;
}

.title{
    color: #5cccc9;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
}

.title .para,.pricing .para{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom:2%;
    font-size: 27pt;
}

.dollar{
    font-size: 30px;
    font-family: sans-serif;
}

.price-box .free{
    padding: 35px; ;
    color: #fff;
    background: #5cccc9;
    font-family: serif;
}

.price-box .premium{
    padding: 35px;
    color: #fff;
    background: #6ebfb5;
    font-family: serif;
}

.price-box .enterprise{
    padding: 35px;
    color: #fff;
    background: #ade498;
    font-family: serif;
}

.price-box .btn{
    background:transparent;
    color: #fff;
    border-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05rem;
    border-radius: 0;
}

.price-box .btn:hover{
    background-color: #fff;
    color:#5cccc9 ;
}

.price-box .btn:focus{
    background-color: rgb(34, 34, 202);
    color:#fff ;
}

.row img{
    height: 402px;
    width: 600px;
}

.pricing-of-all:before{
    position: absolute;
    content: "";
    background: #f8f9fa;
    height:50%;
    width: 100%;
    left: 0;
} 

li{
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 2.2;
}
.fa{
    letter-spacing: 10px;
}

/*About Us*/

.icons .icon{
    margin-bottom: 20px;
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    background: #5cccc9;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.pricing .abt{
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    font-family: serif;
    font-weight: 500;
    line-height: 1.2;
}

h5,p{
    font-family:serif;
}

