<!-- <div class="home">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 d-lg-flex justify-content-center">
                <div class="align-self-center text-center">
                    <div class="first mx-auto">
                    <h1 class="text-start para"data-aos="fade-up">Design is not just what it looks like and how it feels. Design is how it works.</h1>
                    <div class="row mb-5 mb-lg-0">
                    <div class="col-6 col-lg-6 text-start">
                    <div class="home-icon" data-aos="fade-up">
                    <span class="icon icon-creative text-start">
                    <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-lightning-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"></path>
                    </svg>
                    </span>
                    <h5><b> Creative</b></h5>
                    <p class="text-start">Far far away, behind the word mountains, far from the countries .</p>
                    </div>
                    </div>
                    <div class="col-6 col-lg-6 text-start">
                    <div class="home-icon" data-aos="fade-up">
                    <span class="icon icon-design text-start">
                    <svg width="30" height="30" viewBox="0 0 16 16" class="bi bi-life-preserver" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                    <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"></path>
                    <path d="M11.642 6.343L15 5v6l-3.358-1.343A3.99 3.99 0 0 0 12 8a3.99 3.99 0 0 0-.358-1.657zM9.657 4.358L11 1H5l1.343 3.358A3.985 3.985 0 0 1 8 4c.59 0 1.152.128 1.657.358zM4.358 6.343L1 5v6l3.358-1.343A3.985 3.985 0 0 1 4 8c0-.59.128-1.152.358-1.657zm1.985 5.299L5 15h6l-1.343-3.358A3.984 3.984 0 0 1 8 12a3.99 3.99 0 0 1-1.657-.358z"></path>
                    </svg>
                    </span>
                    <h5><b>Design</b></h5>
                    <p class="text-start">Far far away, behind the word mountains, far from the countries .</p>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div> -->

