<div class="pricing pricing-of-all">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7 text-center">
                <span class="title" data-aos="fade-up">Pricing for All</span>
                <h2 class="text-center para" data-aos="fade-up" data-aos-duration="1000">Far far away, behind the word mountains, far from the countries .</h2>
            </div>
        </div>
        <div class="row price-box">
            <div class="col-6 col-md-6 col-lg-4 price free"data-aos="fade-up" data-aos-duration="1000">
        
                   <h2>Free</h2>
                   <strong class="dollar">$0.00</strong><br><br>
                   <ul class="list-unstyled mb-4">
                    <li><i class="fa fa-angle-right"></i>Basic Support</li>
                    <li><i class="fa fa-angle-right"></i>Migration Support</li>
                    <li><i class="fa fa-angle-right"></i>Dedicated Technical Support</li>
                    <li><i class="fa fa-angle-right"></i>Services</li>
                   </ul>
                    <a href="#" class="btn btn-primary">Get Started</a>
        
            </div>

            <div class="col-6 col-md-6 col-lg-4 price premium" data-aos="fade-up" data-aos-duration="1000">
        
                    <h2>Premium</h2>
                    <strong class="dollar">$99.00</strong><br><br>
                    <ul class="list-unstyled mb-4">
                     <li><i class="fa fa-angle-right"></i>Basic Support</li>
                     <li><i class="fa fa-angle-right"></i>Migration Support</li>
                     <li><i class="fa fa-angle-right"></i>Dedicated Technical Support</li>
                     <li><i class="fa fa-angle-right"></i>Services</li>
                    </ul>
                     <a  href="#" class="btn btn-primary">Get Started</a>
            
             </div>

             <div class="col-12 col-md-12 col-lg-4 price enterprise" data-aos="fade-up" data-aos-duration="1000">
                    <h2>Enterprise</h2>
                    <strong class="dollar">$180.00</strong><br><br>
                    <ul class="list-unstyled mb-4">
                     <li><i class="fa fa-angle-right"></i>Basic Support</li>
                     <li><i class="fa fa-angle-right"></i>Migration Support</li>
                     <li><i class="fa fa-angle-right"></i>Dedicated Technical Support</li>
                     <li><i class="fa fa-angle-right"></i>Services</li>
                    </ul>
                     <a  href="#" class="btn btn-primary">Get Started</a>
             </div>             
        </div>
    </div>
</div>
